3_XML/xml/ordini.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT ordini (ordine*)>

<!ELEMENT ordine (data, utente, indirizzo, articoli)>
<!ATTLIST ordine
    id ID #REQUIRED>
<!ELEMENT data (#PCDATA)>
<!ELEMENT utente (#PCDATA)>
<!ELEMENT indirizzo (#PCDATA)>
<!ELEMENT articoli (articolo*)>
<!ELEMENT articolo>
<!ATTLIST articolo
    id ID #REQUIRED
    quantita CDATA #REQUIRED>
